*,
html,
body {
	box-sizing: border-box;
}

$main-color: #2C2738;
$input-color: #2C2738;
$placeholder-color: #7C9CBF;
$second-color: #0880AE;
$white-color: #EBF4F8;
$span-color: #756F86;

.form-container {
	width: 100%;
	max-width: 900px;
	min-width: 360px;
	margin: 0 auto;
	padding: 40px 30px;
	color: $main-color;
	font-size: 16px;
	border-radius: 24px;
	border: 1px solid black;
}

.form {
	display: flex;
	flex-direction: column;
}

.label {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-bottom: 30px;
}

.label-span {
	margin-bottom: 8px;
	color: $span-color;
}

.input {
	height: 52px;
	padding: 16px;
	border-radius: 6px;
	border: 1px solid #DBE2EA;
	font-size: 16px;
	color: $input-color;
	transition: 0.4s;

	&::placeholder {
		color: $placeholder-color;
	}

	&:focus {
		outline: none;
		border: 2px solid #0880AE;
	}
}

.form-btn {
	height: 56px;
	width: 100%;
	max-width: 400px;
	margin: auto;
	background: $second-color;
	color: $white-color;
	border: none;
	border-radius: 8px;
	font-size: 16px;
}

.checkbox {
	display: none;
}

.fake {
	display: inline-block;
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 4px;
	border: 1px solid #DBE2EA;
	transition: 0.6s;
	margin-right: 8px;

	&:before {
		content: url('../img/Check.png');
		display: block;
		position: absolute;
		top: 3%;
		left: 50%;
		transform: translate(-50%);
		transition: 0.6s;
		opacity: 0;
		visibility: hidden;
	}
}

.fake.checked {
	border: 2px solid $second-color;
	&:before {
		opacity: 1;
		visibility: visible;
	}
}

.checkbox-label {
	display: flex;
	align-items: center;
	margin-bottom: 36px;
}