.v-select {
	width: 100%;
	position: relative;
	margin-bottom: 34px;
}

.v-select:hover .select-top {
	border: 2px solid #0880AE;
}

.select-top {
	position: relative;
	width: 100%;
	height: 52px;
	padding: 16px;
	border-radius: 6px;
	border: 1px solid #DBE2EA;
	font-size: 16px;
	color: $input-color;
	transition: 0.4s;
	cursor: pointer;
}

.select-arrow {
	position: absolute;
	top: 11px;
	right: 11px;
	transform: rotate(-90deg);
	transition: 0.4s;

	&.active {
	   transform: rotate(0deg);
	}
}

.select-body {
	width: 100%;
	position: absolute;
	top: 56px;
	left: 0;
	border: 1px solid #DBE2EA;
	border-radius: 6px;
	margin: 0;
	padding: 0;
	z-index: 30;
	background: #fff;
}

.select-item {
	height: 44px;
	padding: 12px 15px;
	color: #756F86;
	transition: 0.4s;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background: #EBF4F8;
	}
}

.selectBody-enter-active {
	animation: selectAnimate .4s;
}

.selectBody-leave-active {
	animation: selectAnimate .4s reverse;
}

@keyframes selectAnimate {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}